@font-face {
    font-family: "Aaargh";
    src: url("Aaargh.ttf") format("truetype");
}

@media all {
    body {
        font-family: Helvetica, sans-serif;
        margin: 20px 2px 2px 2px;

        color: #EEC;
        background-color: #112;
        font-size: 14pt;
    }
    .left_bg {
        background-image: url("bigNeptun.jpg");
        background-repeat: no-repeat;
        background-position: bottom left;
        background-attachment: fixed;
    }
    .right_bg {
        background-image: url("bigNeptun.jpg");
        background-repeat: no-repeat;
        background-position: top right;
        background-attachment: fixed;
    }

    nav {
        float: left;
        min-width: 350px;
        width: 25%;
        padding: 10pt;
        font-variant: small-caps;
        font-family: monospace;
    }
    nav p {
        line-height: 1.8em;
    }

    article {
        width: 70%;
        float: right;
    }

    h1, h2, h3, h4, h5, h6 {
        font-family: Aaargh;
        color: #DDF;
    }
    h1:hover:after, h2:hover:after, h3:hover:after,
    h4:hover:after, h5:hover:after, h6:hover:after {
        /*content: " ¶";*/
        content: "  " url("rocket.svg");
    }
    h1 a:link,
    h1 a:hover,
    h1 a:visited {
        color: #DDF;
        text-decoration: none;
        border-bottom: none;
    }

    a, a:link, a:visited {
        color: #66ffff;
        text-decoration: none;
        border-bottom: #556 solid 1px;
    }
    a:hover {
        border-bottom: none;
    }

    dt {
        font-weight: bold;
        margin-top: 10px;
        margin-bottom: 5px;
    }
    dd {
        font-style: italic;
    }

    table td {
        padding: 5px;
    }
    .version {
        font-family: Arial, Helvetica, monospace;
        font-size:10px;
        margin-left: 2px;
        margin-top: 5px;
        margin-right: 2px;
        margin-bottom: 2px;
        text-align:center; 
    }

    .instr {
        font-family: monospace;
        background-color: #223;
        padding: 0.3em;
    }
    .instr:hover { background-color: #334; }
    .xml {
        font-family: monospace;
        white-space: pre-wrap;
        margin: 5px 5px 25px 5px;
        padding: 5px;
    }
    .xml:hover { background-color: #334; }
}
